<html>
<head>
    <title>Creeps Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://intra.acu.epita.fr/theme/Yaka2018/css/theme.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://intra.acu.epita.fr/theme/Yaka2018/img/favicon.ico" type="image/x-icon" rel="icon">
</head>
<body ng-app="rushjava_visu" ng-controller="RushJavaVisuController">
    <nav class="navbar navbar-info text-center fixed-top bg-inverse">
        <a href="/"><span class="glyphicon glyphicon-home pull-left" aria-hidden="true"></span></a>
        <label class="" ng-bind="name"></label>
        <span class="label label-success" ng-if="status == 'ON'">ON</span>
        <span class="label label-danger" ng-if="status == 'OFF'">OFF</span>
        <a href="/leaderboard"><span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span></a>
    </nav>

    <div class="col-sm-12">
        <div ng-repeat="(name, v) in data" class="col-sm-6 col-md-4">
            <div class="widget-box">
                <div class="widget-header">
                    <span class="title" ng-bind="name"></span>
                    <span class="title label label-danger pull-right" ng-bind="v.score"></span>
                </div>
                <div class="widget-content">
                    <div class="container-fluid">
                        <div ng-repeat="(key, data) in v" class="col-xs-12">
                            <label ng-if="key == 'ressources'">Ressources</label>
                            <canvas id="line"
                                    ng-if="key == 'ressources'"
                                    class="chart chart-line"
                                    chart-data="data"
                                    chart-labels="labels"
                                    chart-series="ressourcesSeries"
                                    chart-options="options"
                                    chart-colors="ressourcesColors"
                            ></canvas>
                            <label ng-if="key == 'data'">Data</label>
                            <canvas id="line"
                                    ng-if="key == 'data'"
                                    class="chart chart-line"
                                    chart-data="data"
                                    chart-labels="labels"
                                    chart-series="dataSeries"
                                    chart-options="options"
                                    chart-colors="dataColors"
                            ></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.slim.min.js"></script>
    <script>
        angular
        .module('rushjava_visu', ['chart.js'])
        .controller('RushJavaVisuController', function ($scope) {
            var maxPoints = 35;

            $scope.data = {};
            $scope.ressourcesSeries = ['Minerals', 'Biomass'];
            $scope.ressourcesColors = ['#0277BD', '#76FF03', '#ff8e72'];
            $scope.dataSeries = ['Units', 'Misses'];
            $scope.dataColors = ['#FFA726', '#E53935', '#ff8e72'];
            $scope.options = {
                animation : false,
            }
            $scope.labels = [];

            var parts = window.location.href.split(/[\s/]+/);
            var serverName = parts.pop() || parts.pop();
            $scope.name = serverName;

            var socket = io.connect();
            socket.on('serverDetail_' + serverName, function(data) {
                $scope.status = data.status;
                var players = data.data.scores || {};
                var dt = new Date();

                $scope.labels.push("");
                if ($scope.labels.length > maxPoints) {
                    $scope.labels.shift();
                }

                var tmp = $scope.data;
                $scope.data = {};

                Object.keys(players).forEach(function (name) {
                    if (name in tmp && tmp[name]) {
                        $scope.data[name] = tmp[name];
                    } else {
                        $scope.data[name] = {
                            ressources: [[], []],
                            data: [[], [], []],
                            players: 0,
                        };
                    }
                    var score = players[name];

                    $scope.data[name].players = players[name].players;

                    var keys = [
                        {
                            'name': 'ressources',
                            'data': ['minerals', 'biomass'],
                        }, {
                            'name': 'data',
                            'data': ['units', 'misses'],
                        }
                    ];

                    for (var j in keys) {
                        var k = keys[j];
                        for (var i = 0; i < k.data.length; i++) {
                            $scope.data[name][k.name][i].push(score[k.data[i]]);

                            if ($scope.data[name][k.name][i].length > maxPoints)
                                $scope.data[name][k.name][i].shift();
                        }
                    }
                });
                $scope.$apply();
            });
        });
    </script>
</body>
</html>
