<html>
<head>
    <title>Creeps Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://intra.acu.epita.fr/theme/Yaka2018/css/theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://intra.acu.epita.fr/theme/Yaka2018/img/favicon.ico" type="image/x-icon" rel="icon">
</head>
<body ng-app="rushjava_visu" ng-controller="RushJavaVisuController">
    <nav class="navbar navbar-info text-center fixed-top bg-inverse">
        <a href="/"><span class="glyphicon glyphicon-home pull-left" aria-hidden="true"></span></a>
        <label ng-bind="topName"></label>
        <a href="/leaderboard"><span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span></a>
    </nav>

    <label>Search: <input ng-model="searchText"></label>

    <div class="listing col-sm-12">
        <div ng-repeat="serv in data | filter:searchText | orderBy:['-status', 'name']" class="col-sm-6 col-md-4">
            <div class="widget-box">
                <div class="widget-header" >
                    <a ng-bind="serv.name" ng-href="/server/{{serv.name}}"></a>
                    <span class="title label pull-right label-{{serv.status}}">{{serv.status}}</span>

                    <span class="title label {{serv.content.class}} pull-right" ng-bind="serv.content.text" ng-if="serv.content.text.length != ''"></span>
                </div>
                <div class="widget-content" ng-class="{'off': serv.status != 'ON'}">
                    <div class="row" ng-if="serv.message">
                        <div class="col-sm-12">
                            <label class="pull-left" ng-bind="serv.message"></label>
                            <label class="pull-right" ng-if="serv.remaining > 0">
                                <timer end-time="serv.remaining">{{mminutes}}:{{sseconds}}</timer>
                            </label>
                            <label class="pull-right" ng-if="serv.remaining.length > 0" ng-bind="serv.remaining"></label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="players col-sm-12">
                            <div ng-repeat="player in serv.players | orderBy : '-score'" >
                                <label class="playerName" ng-bind="player.name"></label>
                                <label class="pull-right" ng-bind="player.score"></label>
                            </div>
                            <div ng-if="serv.players.length == 0" class="noplayer text-center">
                                <label> No player on this server</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.10.0/humanize-duration.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-timer/1.3.5/angular-timer.min.js"></script>
    <script>
        const padInt = (s) => {
            return (s.toString().length < 2 ? "0" : "") + s;
        }

        const dateToTime = (d) => {
            d = parseInt(d);
            var m = parseInt(d / 60);
            m = m < 0 ? 0 : m;
            var s = d % 60;
            s = s < 0 ? 0 : s;
            return padInt(m) + ":" + padInt(s);
        }

        angular
        .module('rushjava_visu', ["timer"])
        .controller('RushJavaVisuController', function ($scope, $interval) {
            $scope.timerRunning = true;

            $scope.toggles = [{ state: false }, { state: false }];

            $scope.data = [];

            $scope.options = {
                animation : false,
            }
            $scope.labels = [];
            $scope.topName = 'Servers list';
            var first = true;

            var socket = io.connect();
            socket.on('serverList', function(data) {
                var servs = [];

                var count = 0;
                var total = 0;
                for (var k in data) {
                    data[k].name = k;
                    if (data[k].status == 'ON') {
                        ++count;
                    }
                    ++total;

                    data[k].content = { class: "", text: "" };
                    if (data[k].status != "OFF") {
                        if (data[k].players.length == 0) {
                            data[k].content.text = "EMPTY";
                            data[k].content.class = "label-warning";
                        } else if (data[k].players.length == 10) {
                            data[k].content.text = "FULL";
                            data[k].content.class = "label-danger";
                        } else {
                            data[k].content.text = data[k].players.length + '/10';
                            data[k].content.class = "label-primary";
                        }
                    }

                    servs.push(data[k]);
                }


                
                $scope.data = servs;
                $scope.topName = 'Server list ' + "(" + count + "/" + total + ")";

                if (first)
                    $scope.$apply();

                first = false;
            });
        });
    </script>
</body>
</html>
