# MAC
.DS_STORE


.idea/

creeps2018.iml
server.tar.bz2
server/BuildData/
server/server.properties
server/BuildTools.log.txt
server/Bukkit/
server/CraftBukkit/
server/Spigot/
server/apache-maven-3.2.5/
server/banned-ips.json
server/banned-players.json
server/bukkit.yml
server/commands.yml
server/craftbukkit-1.11.2.jar
server/help.yml
server/logs/
server/ops.json
server/permissions.yml
server/plugins/
server/spigot-1.11.2.jar
server/spigot.yml
server/usercache.json
server/whitelist.json
server/work/
server/world/
server/world_nether/
server/world_the_end/
sources/ai/ai.iml
sources/ai/target/
sources/dependencies/dependencies.iml
sources/dependencies/target/
sources/samples/samples.iml
sources/samples/target/
sources/server/.gradle/
sources/server/build/
sources/server/server.iml
sources/server/src/main/kotlin/com/mti/creeps/response/GameStatusResponse.kt
sources/server/target/
