html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.navbar {
  border-radius: 0px;
}

.navbar-info {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.label {
  font-size: 12px;
  padding: 4px;
}

.label + .label {
  margin-right: 5px;
}

a, a:hover, .widget-header {
    color: #fff;
}

.widget-header {
  padding: 7px 10px 10px 12px;
}

.widget-content {
  padding: 15px;
}

.players {
  font-size: 12px;
}

.playerName {
  font-style: italic;
}


hr {
  margin-top: 10px;
  margin-bottom: 15px;
}



/*
** Datatables
*/

.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
}

table.dataTable tbody td:not(:first-child) {
    padding: 8px 3%;
}

th, td.td-align-center {
  text-align:  center;
}

td.td-align-right {
  text-align:  right;
}