html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.navbar {
  border-radius: 0px;
}

.navbar-info {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.label {
  font-size: 12px;
  padding: 4px;
}

.label + .label {
  margin-right: 5px;
}

a, a:hover, .widget-header {
    color: #fff;
}

.widget-header {
  padding: 7px 10px 10px 12px;
}

.widget-content {
  padding: 15px;
}

.listing .widget-content {
  height: 290px;
}

.widget-content.restarting {
  background-color: rgba(105, 88, 88, 0.1);
}

.players {
  font-size: 12px;
  height: 210px;
}

.playerName {
  font-style: italic;
}


hr {
  margin-top: 10px;
  margin-bottom: 15px;
}


.label, label {
  vertical-align: middle;
}

.navbar-info .label {
  margin-left: 5px;
  font-size: 10px;
}


td:nth-child(4) {
  cursor: pointer;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

td:nth-child(4):hover {
  color: black;
}

.noplayer {
  padding: 25% 0px;
}

.div-refresh {
  margin-bottom: -30px;
}

.refresh {
  margin-right: 10px;
  padding-top: 4px;
}


.btn-switch:not(.enable) {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-switch.enable {
  background-color: #91010b;
  border-color: #73010b;
  color: white;
}


.btn-switch.enable:focus, .btn-switch.enable:hover {
  color: #fff;
  background-color: #742020;
}

.rank-0 {
  color: #D4AF37;
}

.rank-1 {
  color: #C0C0C0;
}

.rank-2 {
  color: #CD7F32;
}


/*
** Datatables
*/

.dataTable tbody tr:hover, .dataTable tbody tr:hover {
    background-color: #f6f6f6;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
}

table.dataTable tbody td:not(:first-child) {
    padding: 8px 3%;
}

th, td.td-align-center {
  text-align:  center;
}

td.td-align-right {
  text-align:  right;
}